body{
  min-height: 0px;
}
/* Блок входа */
.registration {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.aut {
  min-height: 290px;
}
.login_btn {
  background-color: #191616;
  border: #191616 1px solid;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 23px;
  height: 50px;
}
.login_btn:hover {
  cursor: pointer;
  background-color: #050404;
}
.reg {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #d9d9d9;
  padding: 30px;
  width: 450px;
  margin-top: 30px;
}
.head {
  text-align: center;
  font-family: "Lora-bold";
  font-size: 23px;
  margin-top: 0px;
}
span {
  color: red;
}
.error{
  color: crimson;
}
input {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Wremena-norm";
  border: none;
  border-radius: 3px;
  padding: 3px 4px;
}

label {
  font-size: 20px;
  font-family: "Lora-bold";
}
