/* #region пустая корзина */
.empty_basket {
  display: grid;
  grid-template-columns: 1, 1fr;
  margin-top: 30px;
}
.empty_desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  font-family: "Lora-bold";
}
.basket_is_empty{
  font-size: 16px;
  color: rgb(43, 154, 61);
}
.go_prod_btn {
  background-color: #191616;
  border: #191616 1px solid;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 24px;
  width: 350px;
  height: 68px;
  margin-top: 30px;
}
/* #endregion */

/*  */
.products_cards {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.products_txt {
  background-color: #c8c8c8;
  height: 40px;
}
.products_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 20px;
  padding: 4px;
}
.products_txt > p:hover {
  cursor: default;
}
/* #region Карточки товаров*/
.card {
  background-color: rgba(25, 22, 22, 1);
  width: 250px;
  height: 300.86px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  /* box-shadow: #7e7e7e 0px 5px 15px; */
  transition: 0.4s;
}
.card:hover {
  scale: 1.05;
  cursor: pointer;
}
.card_img {
  object-fit: cover;
  width: 250px;
  height: 250.86px;
  border-radius: 4px 4px 0px 0px;
}
.card > p {
  font-family: "Wremena-norm";
  color: #fefefe;
  font-size: 23px;
  text-align: center;
  margin-top: 5px;
}
#arrow {
  margin-right: 40px;
  margin-top: 130px;
  width: 70px;
  height: 60px;
  transition: 0.4s;
}
#arrow:hover {
  scale: 1.1;
  cursor: pointer;
}
.go_products {
  color: #191616;
  font-family: "Lora-bold";
  font-size: 20px;
  width: 200px;
  margin-left: 15%;
  border: 1px solid #191616;
  padding: 5px;
  text-align: center;
  display: none;
}
.go_products:hover {
  color: #191616;
  background-color: #eaeaea;
  transition: 0.3s;
}
/* #endregion */

/* #region корзина */
.cart_txt {
  margin-top: 30px;
  background-color: #c8c8c8;
  height: 40px;
}
.cart_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 20px;
  padding: 4px;
}
.clean_basket {
  margin-left: 10px;
}
.change_address,
.clean_basket {
  border: #cecece 1px solid;
}
.clean_basket:hover {
  background-color: #d2d2d2;
  transition: 0.5s ease-out;
}
.main_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.m {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.products {
  border: #c8c8c8 1px solid;
  padding: 30px;
  font-family: "Lora-bold";
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;

  /* box-shadow: #7e7e7e 0px 5px 15px; */
}
.title {
  display: flex;
  margin-top: 0px;
  font-size: 23px;
  margin-bottom: 20px;
}
/* #endregion */

/* #region блок товара */
.product {
  padding: 10px;
}
.product_input {
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.del_product {
  font-size: 35px;
  color: #505050;
  font-family: "Wremena-norm";
  position: relative;
  top: -20px;
  transition: 0.4s;
}
.del_product:hover {
  cursor: pointer;
  color: #877cb9;
}
.info_product {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.product_a {
  color: #191616;
  transition: 0.4s;
}
.product_a:hover {
  color: #877cb9;
}
.main_pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: 0.4s;
}
.main_pic:hover {
  box-shadow: #7e7e7e 0px 5px 15px;
}
.main_info > p,
.sizes > p,
.count > p {
  font-size: 20px;
  color: #505050;
  font-family: "Wremena-norm";
  margin-top: 0px;
}
.count > p {
  margin-bottom: 0px;
}
.sizes,
.count {
  display: flex;
  gap: 10px;
}
.description {
  margin-top: 0px;
}
.card_size {
  border: #191616 1px solid;
  height: 30px;
  font-size: 20px;
  text-align: center;
  background-color: #191616;
  color: #fefefe;
  font-family: "Wremena-norm";
}
.price {
  font-family: "Lora-bold";
}
.count_btn {
  border: none;
  background-color: #dad1ff;
  font-size: 20px;
  padding: 5px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
}
.count_btn:hover,
#count_del:hover {
  background-color: #9a9a9a;
}
.count_prod {
  color: #191616;
  font-family: "Lora-bold";
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product {
  border: #e1e1e1 1px solid;
}
/* #endregion */

/* #region Блок итого*/
.result {
  border: #c8c8c8 1px solid;
  padding: 30px;
  font-family: "Lora-bold";
  margin-top: 30px;
  margin-right: 30px;
  height: max-content;
  background-color: #eaeaea;
  /* box-shadow: #7e7e7e 0px 5px 15px; */
}
.result > h2 {
  margin-top: 0px;
}
.result > p {
  font-size: 20px;
  color: #505050;
  font-family: "Wremena-norm";
}
select {
  font-family: "Wremena-norm";
  font-size: 17px;
  font-family: "Lora-bold";
}

span {
  color: #191616;
  font-family: "Lora-bold";
}
.res_btn {
  background-color: #191616;
  border: #191616 1px solid;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 23px;
  width: max-content;
  padding: 10px;
  height: 68px;
  margin-top: 30px;
  transition: 0.4s;
}
.res_btn:hover {
  cursor: pointer;
  background-color: #050404;
}
/* #endregion */

/* #region Блок адреса*/
.address {
  border: #c8c8c8 1px solid;
  margin-left: 30px;
  padding: 30px;
  font-family: "Lora-bold";

  /* box-shadow: #7e7e7e 0px 5px 15px; */
}
.address_title {
  display: flex;
  gap: 20px;
}
.address_title > h2 {
  text-align: center;
  margin-top: 0px;
}
.address_title > p {
  text-align: center;
  margin-top: 4px;
  font-size: 20px;
  color: #505050;
  font-family: "Wremena-norm";
}
.address > p {
  font-size: 20px;
  color: #505050;
  font-family: "Wremena-norm";
}

.change_address:hover {
  background-color: #d2d2d2;
  transition: 0.5s ease-out;
}
/* #endregion */

/* #region Модальное окно */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}

.modal {
  position: relative;
  top: 100px;
  max-width: 1092px;
  height: 490px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Wremena-norm";
}

#modalForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close:hover {
  color: #877cb9;
}
.change_addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
  overflow: scroll;
}
.modal__title {
  font-size: 25px;
  margin-top: 0px;

  font-family: "Lora-bold";
}

.modal_btn {
  background-color: #fefefe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  color: #191616;
  max-width: 100%;
  font-size: 18px;
  font-family: "Lora-bold";
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.3s;
}
.change_addresses > a:hover {
  color: #5a5083;
}
.modal_btn:hover {
  background-color: #f0f0f0;
}

iframe {
  height: 400px;
  border: #c8c8c8 1px solid;
}
/* Редактор прокрутки списка адресов */
.change_addresses::-webkit-scrollbar {
  width: 7px;
  background-color: #f9f9fd;
}
.change_addresses::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #877cb9;
}
.change_addresses::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}
/* #endregion */

@media screen and (max-width: 1124px) and (min-width: 960px) {
  .main_block {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 30px;
  }

  .products_cards {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* #region Карточки товаров*/
  .card {
    background-color: rgba(25, 22, 22, 1);
    width: 200px;
    height: 300.86px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    /* box-shadow: #7e7e7e 0px 5px 15px; */
    transition: 0.4s;
  }

  .card_img {
    object-fit: cover;
    width: 100%;
    /* width: 250px; */
    height: 250.86px;
    border-radius: 4px 4px 0px 0px;
  }
  .card > p {
    font-family: "Wremena-norm";
    color: #fefefe;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
  }
  #arrow {
    margin-right: 40px;
    margin-top: 130px;
    width: 50px;
    height: 40px;
    transition: 0.4s;
  }

  .res_btn {
    background-color: #191616;
    border: #191616 1px solid;
    color: #fefefe;
    font-family: "Wremena-norm";
    font-size: 20px;
    width: 100%;
    max-width: 350px;
    height: 50px;
    margin-top: 30px;
    transition: 0.4s;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .products_cards {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
  }

  /* #region Карточки товаров*/
  .card {
    background-color: rgba(25, 22, 22, 1);
    width: 250px;
    height: 300px;
    margin-top: 10px;
    margin-left: 15%;
    border-radius: 4px;
    border: none;
    /* box-shadow: #7e7e7e 0px 5px 15px; */
    transition: 0.4s;
  }

  .card_img {
    object-fit: cover;
    width: 100%;
    /* width: 250px; */
    height: 250px;
    border-radius: 4px 4px 0px 0px;
  }
  #arrow {
   display: none;
  }
  .go_products {
    font-size: 16px;
    display: block;
    margin-left: 20%;
    margin-top: 40%;
    /* margin-left: -20px; */
  }
}
@media screen and (max-width: 767px) and (min-width: 580px) {
  .products_cards {
    margin-left: 2%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,1fr);
  }

  /* #region Карточки товаров*/
  .card {
    background-color: rgba(25, 22, 22, 1);
    width: 200px;
    height: 250px;
    margin-top: 10px;
    margin-left: 15%;
    border-radius: 4px;
    border: none;
    /* box-shadow: #7e7e7e 0px 5px 15px; */
    transition: 0.4s;
  }

  .card_img {
    object-fit: cover;
    width: 100%;
    /* width: 250px; */
    height: 200px;
    border-radius: 4px 4px 0px 0px;
  }
   #arrow {
   display: none;
  }
  .go_products {
    font-size: 16px;
    display: block;
    margin-left: 20%;
    margin-top: 40%;
    /* margin-left: -20px; */
  }
  .empty_basket {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .empty_desc {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-left: 30%;

    font-family: "Lora-bold";
  }
}
@media screen and (max-width: 580px) and (min-width: 375px) {
  .products_cards {
    margin-left: 7%;
    display: grid;
    grid-template-columns: 1fr;
  }

  /* #region Карточки товаров*/
  .card {
    background-color: rgba(25, 22, 22, 1);
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 15%;
    border-radius: 4px;
    border: none;
    /* box-shadow: #7e7e7e 0px 5px 15px; */
    transition: 0.4s;
  }

  .card_img {
    object-fit: cover;
    width: 100%;
    /* width: 250px; */
    height: 250px;
    border-radius: 4px 4px 0px 0px;
  }
    #arrow {
   display: none;
  }
  .go_products {
    font-size: 16px;
    display: block;
    margin-left: 20%;
    margin-top: 10%;
    /* margin-left: -20px; */
  }
  .empty_basket {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .empty_desc {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-left: 20%;

    font-family: "Lora-bold";
  }
 
 
}
@media screen and (max-width: 959px) and (min-width: 670px) {
  .main_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .products,
  .address {
    margin-right: 30px;
  }

  /* #region Блок итого*/
  .result {
    border: #c8c8c8 1px solid;
    padding: 30px;
    font-family: "Lora-bold";
    /* width: 95%; */
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .result > h2 {
    margin-top: 0px;
  }
  .result > p {
    font-size: 20px;
    color: #505050;
    font-family: "Wremena-norm";
  }
  select {
    font-family: "Wremena-norm";
    font-size: 17px;
    font-family: "Lora-bold";
  }
}
@media screen and (min-width: 590px) and (max-width: 670px) {
  .result {
    border: #c8c8c8 1px solid;
    padding: 30px;
    font-family: "Lora-bold";
    /* width: 95%; */
    /* margin-top: 30px; */
    margin-left: 30px;
    margin-right: 30px;
  }
  .products,
  .address {
    margin-right: 30px;
  }
  .main_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .title > h4,
  .clean_basket,
  .address_title > h4,
  .change_address,
  .result > h4 {
    padding: 4px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .product_a > h4 {
    padding: 4px;
    color: #191616;
    transition: 0.4s;
    font-size: 16px;
  }

  .main_pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.4s;
  }
  .main_pic:hover {
    box-shadow: #7e7e7e 0px 5px 15px;
  }
  .card_size,
  .count_prod,
  .product_a > h5,
  .address > p,
  .result > p,
  .pay {
    font-size: 16px;
  }
  .count_btn {
    font-size: 14px;
    width: 30px;
  }

  .main_info > p,
  .sizes > p,
  .count > p {
    font-size: 16px;
    color: #505050;
    font-family: "Wremena-norm";
    margin-top: 0px;
  }
  .res_btn {
    font-size: 18px;
    padding: 10px;
    width: max-content;
    height: max-content;
  }
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .empty_basket {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .empty_desc {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-left: 10%;

    font-family: "Lora-bold";
  }
  .empty_desc > h4,
  .empty_desc > h5 {
    font-size: 16px;
  }

  /*  */
  .products_cards {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .products_txt {
    background-color: #c8c8c8;
    height: 40px;
  }
  .products_txt > p {
    text-align: center;
    font-family: "Lora-bold";
    color: #191616;
    font-size: 20px;
    padding: 4px;
  }
  .products_txt > p:hover {
    cursor: default;
  }
  /* #region Карточки товаров*/
  .card {
    background-color: rgba(25, 22, 22, 1);
    width: 200px;
    height: 250px;
    margin-top: 10%;
    border-radius: 4px;
    border: none;
    /* box-shadow: #7e7e7e 0px 5px 15px; */
    transition: 0.4s;
  }
  .card:hover {
    scale: 1.05;
    cursor: pointer;
  }
  .card_img {
    object-fit: cover;
    width: 100%;
    /* width: 250px; */
    height: 200px;
    border-radius: 4px 4px 0px 0px;
  }
  .card > p {
    font-family: "Wremena-norm";
    color: #fefefe;
    font-size: 23px;
    text-align: center;
    margin-top: 5px;
  }
  #arrow {
    display: none;
  }
  .go_products {
    font-size: 16px;
    display: block;
    margin-left: 0px;
    margin-top: 40px;
    /* margin-left: -20px; */
  }
  /* #endregion */
  #modalForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .title > h4,
  .clean_basket,
  .address_title > h4,
  .change_address,
  .result > h4,
  .cart_txt > p {
    padding: 4px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .cart_txt {
    height: 30px;
  }
  .main_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .info_product {
    display: flex;
    flex-direction: column;
  }
  .result,
  .products,
  .address {
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
  }
  .title > h4,
  .clean_basket,
  .address_title > h4,
  .change_address,
  .result > h4 {
    padding: 4px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .product_a > h4 {
    padding: 4px;
    color: #191616;
    transition: 0.4s;
    font-size: 16px;
  }
  .product_a:hover {
    color: #877cb9;
  }
  .main_pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.4s;
  }
  .main_pic:hover {
    box-shadow: #7e7e7e 0px 5px 15px;
  }
  .card_size,
  .count_prod,
  .product_a > h5,
  .address > p,
  .result > p,
  .pay {
    font-size: 16px;
  }
  .count_btn {
    font-size: 14px;
    width: 30px;
  }

  .main_info > p,
  .sizes > p,
  .count > p {
    font-size: 16px;
    color: #505050;
    font-family: "Wremena-norm";
    margin-top: 0px;
  }
  .res_btn {
    font-size: 18px;
    padding: 10px;
    width: max-content;
    height: max-content;
  }
}

@media screen and (min-width: 360px) and (max-width: 590px) {
  #modalForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .result {
    border: #c8c8c8 1px solid;
    padding: 30px;
    font-family: "Lora-bold";
    /* width: 95%; */
    /* margin-top: 30px; */
    margin-left: 30px;
    margin-right: 30px;
  }
  .products,
  .address {
    margin-right: 30px;
  }
  .main_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .info_product {
    display: flex;
    flex-direction: column;
  }
  .title > h4,
  .clean_basket,
  .address_title > h4,
  .change_address,
  .result > h4 {
    padding: 4px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .product_a > h4 {
    padding: 4px;
    color: #191616;
    transition: 0.4s;
    font-size: 16px;
  }
  .product_a:hover {
    color: #877cb9;
  }
  .main_pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.4s;
  }
  .main_pic:hover {
    box-shadow: #7e7e7e 0px 5px 15px;
  }
  .card_size,
  .count_prod,
  .product_a > h5,
  .address > p,
  .result > p,
  .pay {
    font-size: 16px;
  }
  .count_btn {
    font-size: 14px;
    width: 30px;
  }

  .main_info > p,
  .sizes > p,
  .count > p {
    font-size: 16px;
    color: #505050;
    font-family: "Wremena-norm";
    margin-top: 0px;
  }
  .res_btn {
    font-size: 18px;
    padding: 10px;
    width: max-content;
    height: max-content;
  }
}
