/*Блок коллекций */
.collection_txt {
  margin-top: 30px;
  background-color: #c8c8c8;
  height: 50px;
}
.collection_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 23px;
 padding: 6px;
}
.collection_pic {
  width: 350px;
  height: 400px;
  object-fit: cover;
}
.collections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  text-align: center;
}

.collections>a{
  text-decoration: none;
  color:#f1f1f1;
  font-family: "Wremena-norm";
  text-shadow: #1f1f1f 0px 5px 15px;
}
.block {
  margin-top: 30px;
  font-family: "Wremena-norm";
  font-size: 23px;
  display: flex;
  justify-content: center;
}

.collection_desc{
  position: relative;
  padding: 15px;
  width: 350px;
  height: 400px;
  background-color: #191616cf;
}
.collection_desc>p{
  font-family: "Wremena-norm";
  font-size: 20px;
}

.btn{
  background-color: #191616;
  border: #191616 1px solid;
  border-radius: 0px;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 23px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: 0.5s;
}
.btn:hover{
  color: #fefefe;
  background-color: #080707;
}
