
/* Блок показов */
.news_txt {
  margin-top: 30px;
  background-color: #c8c8c8;
  height: 40px;
}
.news_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 25px;
  margin-top: 5px;
}
.shows {
  display: flex;
  flex-direction: row;
}
.shows_txt {
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Lora-norm";
  font-size: 22px;
}
.shows_txt > h2 {
  font-family: "Lora-bold";
}
/* Настройки каруселей*/
.carousels {
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #9b9b9b;
  box-shadow: #7e7e7e 0px 5px 15px;
}
.carousel-item {
  margin-top: 30px;
  margin-right: 0%;
}
#indicator_slide {
  width: 50px;
  height: 80px;
}
.carousel-control-prev-icon {
  background-image: url(/assets/img/стрелка\ влево.svg);
}
.carousel-control-next-icon {
  background-image: url(/assets/img/стрелка\ вправо.svg);
}
.carousel-control-next,
.carousel-control-prev {
  position: relative;
}
.carousels {
  display: flex;
  flex-direction: column;
}
.carousel-indicators {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  margin-left: 100px;
  position: relative;
}
.carousel-item-next {
  display: none;
}
.carousel-item-end {
  display: none;
}
.controls {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.d-block {
  width: 500px;
  height: 550px;
  object-fit: contain;
}