/* #region Блок показов */
.news_txt {
  margin-top: 30px;
  background-color: #c8c8c8;
  height: 50px;
}
.news_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 23px;
  padding: 6px;
}
.shows {
  display: flex;
  flex-direction: row;
}
.shows_txt {
  width: 500px;
  margin-top: 30px;
  margin-left: 50px;
  font-family: "Lora-norm";
  font-size: 20px;
}
.shows_txt > h2 {
  font-family: "Lora-bold";
}
/* #endregion */

/* #region Настройки каруселей*/
.carousels {
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #9b9b9b;
  /* box-shadow: #7e7e7e 0px 5px 15px; */
}
.carousel-item {
  margin-top: 30px;
  margin-right: 0%;
}
#indicator_slide {
  width: 50px;
  height: 80px;
}
.carousel-control-prev-icon {
  background-image: url(/assets/img/стрелка\ влево.svg);
}
.carousel-control-next-icon {
  background-image: url(/assets/img/стрелка\ вправо.svg);
}
.carousel-control-next,
.carousel-control-prev {
  position: relative;
}
.carousels {
  display: flex;
  flex-direction: column;
}
.carousel-indicators {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  margin-left: 100px;
  position: relative;
}
.carousel-item-next {
  display: none;
}
.carousel-item-end {
  display: none;
}
.controls {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.d-block {
  width: 500px;
  height: 500px;
  object-fit: contain;
}
/* #endregion */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  
}
@media screen and (max-width: 767px) and (min-width: 420px) {
}
@media screen and (max-width: 420px) and (min-width: 320px) {
  .news_txt > p {
    font-size: 16px;
    padding: 6px;
  }
  .news_txt {
    height: 30px;
  }
  .shows{
    display: grid;
    width: 100%;
  }
  .shows_txt{
    font-size: 18px;
    margin-left: 0%;
    margin-top: 5%;
    padding: 7px;
    width: 100%;
  }
  /*  */
  .carousels{
    margin-left: 0%;
    width: 100%;
  }
  .controls{
    width: 100%;
  }
  .d-block{
    width: 100%;
    height: 100%;
  }
  .carousel-indicators {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    margin-left: 10%;
    position: relative;
}
#indicator_slide {
  width: 40px;
  height: 60px;
  object-fit: cover;
}
}