/* Блок футера */
.footer {
  margin-top: 110px;
  justify-content: center;
  padding: 10px;
  display: flex;
justify-content: space-around;
  gap: 120px;
  background-color: #191616;
  height: 160px;
}
.fot_main {
  border-bottom: #fefefe 2px solid;
  padding-bottom: 5px;
  font-size: 23px;
  margin-top: 10px;
}
.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer_logo_pic{
  width: 220px;
  object-fit: cover;
}
.footer_pic {
  margin-top: 10px;
  margin-left: 20px;
  width: 200px;
}
.profile,.help{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
a>p{
  margin-bottom: 0px;
}
.profile > a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: #fefefe;
  font-family: "Wremena-norm";
  transition: 0.4s;
}
.help > a {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: #fefefe;
  font-family: "Wremena-norm";
  transition: 0.4s;
}
.help > a:hover,
.profile > a :hover {
  color: #877cb9;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
.footer{
  display: none;
}
}