.helps {
  width: 900px;
  display: block;
  margin-left: 15%;
  align-self: center;
}
.cont {
  background-image: url(/assets/img/1614438722_41-p-fon-minimalizm-temnii-72.jpg);
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.item {
  background-color: #f1f1f1;
}
.head {
  background-color: #a199c3;
  color: #191616;
  font-family: "Lora-norm";
  padding: 15px;
}
.body {
  font-family: "Lora-norm";
  padding: 20px;
}
.title {
  font-family: "Wremena-norm";
}
.main-text {
  font-size: 20px;
}
.sizes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.size_table {
  width: 500px;
  object-fit: contain;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  
}
@media screen and (max-width: 767px) and (min-width: 420px) {
}
@media screen and (max-width: 420px) and (min-width: 320px) {
  .helps{
    margin-left: 0%;
    width: 100%;
  }
  .head,.body{
    padding: 7px;
  }
  .main-text{
    font-size: 16px;
  }
  .body>h3{
    font-size: 18px;
  }
  .sizes{
    grid-template-columns: 1fr;
  }
  .size_table{
    width: 100%;
  }
}
