
.helps{
  width: 900px;
  display: block;
  margin-left: 15%;
  align-self:  center;
}
.item{
  background-color: #f1f1f1;
}
.head{
  background-color: #a199c3;
  color: #191616;
  font-family: "Lora-norm";
  padding: 5px;
}
.body{
  font-family: "Lora-norm";
  padding: 10px;
}
.title{
  font-family: "Wremena-norm";
}
.main-text{
  font-size: 20px;
}
.sizes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.size_table{
  width: 500px;
  object-fit: contain;
}