/* Блок для регистрации */
.registration {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.error{
  color: #db1a1a;
}
.aut {
  height: 290px;
}
.login_btn {
  background-color: #191616;
  border: #191616 1px solid;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 23px;
  width: 350px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 50px;
}
.login_btn:hover {
  cursor: pointer;
  background-color: #050404;
}
.reg {
  display: grid;
  grid-template-areas: 
  "1" "1"
  "2" "4"
  "3" "5"
  "6" "7"
  "8" "8"
  "9" "9"
  ;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  padding: 30px;
  width: 500px;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: #7e7e7e 0px 5px 15px;
}
#one{
grid-area: "1";
}
.head {
  text-align: center;
  font-family: "Lora-bold";
  font-size: 23px;
  margin-top: 0px;
}
span {
  color: red;
}
input {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: "Wremena-norm";
  width: 60%;
  border: none;
  border-radius: 3px;
  padding: 3px 4px;
  box-shadow: #b6b3b3 2px 5px 5px;
}

label {
  font-size: 20px;
  font-family: "Lora-bold";
}
.agree{
  display:flex ;
}
#agreement{
  box-shadow: none;
}
#agreement+label{
  font-size: 18px;
}