/* #region Блог товаров*/
.products {
  display: grid;
  /* grid-template-columns: 1, 1fr; */
  margin-top: 30px;
}
.products_cards {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.products_txt {
  background-color: #c8c8c8;
  height: 40px;
}
.products_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 20px;
  padding: 6px;
}
.products_txt > p:hover {
  cursor: default;
}
/* #endregion */

/* #region Карточки товаров*/
.card {
  background-color: rgba(25, 22, 22, 1);
  /* width: 100%; */
  /* max-width: 250px; */
  height: 100%;
  max-height: 300.86px;
  margin-top: 30px;
  border-radius: 4px;
  border: none;
  transition: 0.4s;
}
.card:hover {
  scale: 1.05;
  cursor: pointer;
}
.card_img {
  border-radius: 5px 5px 0 0;
  width: 280px;
  height: 240px;
  object-fit: cover;
  /* object-fit: cover; */
  /* width: 100%; */
  /* max-width: 250px; */
  /* height: 100%;
  max-height: 250.86px;
  border-radius: 4px 4px 0px 0px; */
}
.card > p {
  font-family: "Wremena-norm";
  color: #fefefe;
  font-size: 23px;
  text-align: center;
  margin-top: 5px;
}
#arrow {
  margin-right: 40px;
  margin-top: 130px;
  width: 100%;
  max-width: 70px;
  height: 60px;
  transition: 0.4s;
}
#arrow:hover {
  scale: 1.1;
  cursor: pointer;
}
.go_products {
  color: #191616;
  font-family: "Lora-bold";
  font-size: 20px;
  width: 200px;
  margin-left: 15%;
  border: 1px solid #191616;
  padding: 5px;
  text-align: center;
  display: none;
}
.go_products:hover {
  color: #191616;
  background-color: #eaeaea;
  transition: 0.3s;
}
/* #endregion */

/* #region Блок коллекций*/
.collection_txt {
  margin-top: 120px;
  background-color: #c8c8c8;
  height: 40px;
}
.collection_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 20px;
  padding: 6px;
}
.collections_card {
  display: flex;
  justify-content: center;
}
#block1 {
  margin-top: 30px;
  width: 100%;
}
#block1:hover {
  cursor: pointer;
}
.collections_btn {
  background-color: #191616;
  border: #191616 1px solid;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 20px;
  width: 100%;
  max-width: 350px;
  height: 68px;
  margin-top: 30px;
  transition: 0.4s;
}
.collections_btn:hover {
  cursor: pointer;
  background-color: #050404;
}
/* #endregion */

/* #region Блок показов*/
.news_txt {
  margin-top: 120px;
  background-color: #c8c8c8;
  height: 40px;
}
.news_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 20px;
  padding: 6px;
}
.news_all {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  /* max-width: 1000px; */
  /* margin-left: 10%; */
  align-self: center;
}
.img_a {
  /* width: 100%; */
  /* max-width: 300px; */
  height: 100%;
  max-height: 410px;
  transition: 0.3s;
  display: block;
}
.img_a:hover {
  scale: 1.05;
}
.block_news {
  margin-top: 40px;
  background-color: #493e3e;
  height: 280px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
}
/* #picnewleft{
  margin-left: 30px;
}
#picnewleft:hover {
  transition: 0.3s ease-in-out;
  box-shadow: #b6b6b6 10px 10px ;
}
#picnewleft:not(:hover) {
  transition: 0.5s;
}

#picnewright:hover {
  transition: 0.3s ease-in-out;
  box-shadow: #b6b6b6 -10px 10px ;
}
#picnewright:not(:hover) {
  transition: 0.5s; */
/* } */

.new_head {
  font-size: 20px;
  text-align: left;
  color: #fefefe;

  font-family: "Wremena-norm";
}
.new_main {
  font-size: 18px;
  text-align: right;
  color: #fefefe;
  font-family: "Wremena-norm";
}
.new_next {
  font-family: "Wremena-norm";
  font-size: 20px;
  color: #fefefe;
  transition: 0.5s;
}
.new_next:hover {
  color: #877cb9;
  text-decoration: underline;
}
.line {
  border-left: #191616 5px solid;
  padding: 0px 10px 0px 10px;
}
/* #endregion */

/* #region Блок адресов доставок */
.addresses_txt {
  margin-top: 80px;
  background-color: #c8c8c8;
  height: 40px;
  display: block;
}
.addresses_txt > p {
  text-align: center;
  font-family: "Lora-bold";
  color: #191616;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 6px;
}
.city {
  padding: 5px;
  border-radius: 4px;
  background-color: #a99be9;
}
.address {
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 20px;
  width: 100%;
  /* max-width: 1200px; */
  align-self: center;
  /* margin-left: 5%; */
}
.addresses {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;

  font-family: "Lora-bold";
  font-size: 16px;
}
.addresses > p {
  color: #191616;
  margin-bottom: 5px;
}
.addresses > p:hover {
  cursor: default;
  color: #877cb9;
}
.map {
  margin-left: 10%;
  margin-top: 30px;
  min-height: 500px;
  width: 100%;
  max-width: 90%;
  border: #c8c8c8 1px solid;
}
/* #endregion */

@media screen and (max-width: 1024px) and (min-width: 881px) {
  /* картинки показов */
  .img_a {
    margin-top: 50%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 200px;
  }
  /* карточки товаров */
  .products_cards {
    align-items: center;
    margin-left: 0%;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-items: center;
  }
  .card_img {
    border-radius: 5px 5px 0 0;
    /* width: 100%; */
    max-width: 400px;
    height: 240px;
    object-fit: cover;
    /* object-fit: cover; */
    /* width: 100%; */
    /* max-width: 250px; */
    /* height: 100%;
    max-height: 250.86px;
    border-radius: 4px 4px 0px 0px; */
  }
  .addresses {
    align-self: center;
    /* width: 100%; */
    width: 460px;
    height: auto;
    font-size: 20px;
  }
  .map {
    width: 100%;
    max-width: 380px;
    margin-left: 32%;
  }
  #arrow {
    display: none;
  }
  .go_products{
    display: block;
    margin-left: 10px;
    margin-top: 40px;
    /* margin-left: -20px; */
  }

}
@media screen and (min-width: 768px) and (max-width: 880px){
  .news_txt > p, .addresses_txt > p,.collection_txt > p,.products_txt > p {
    font-size: 20px;
    padding: 4px;
  }
  .news_txt, .addresses_txt,.collection_txt,.products_txt{
    height: 40px;
  }
  .img_a {
    margin-top: 50%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 200px;
  }
  /* карточки товаров */
  .products_cards {
    align-items: center;
    margin-left: 0%;
    display: grid;
    grid-template-columns: repeat(2, 370px);
    justify-items: center;
  }
  #arrow {
    display: none;
  }
  .go_products {
    display: block;
    margin-left: 10px;
    margin-top: 40px;
  }
  .address {
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    align-self: center;
    /* margin-left: 5%; */
  }

  .addresses {
    align-self: center;
    width: 100%;
    /* min-width: 600px; */
    height: auto;
    font-size: 18px;
  }
  .block_news {
    height: min-content;
  }
  .map{
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  #arrow {
    display: none;
  }
  .go_products {
    margin-left: 0px;
    margin-top: 40px;
    display: block;
    font-size: 14px;
  }
  
  .news_txt > p, .addresses_txt > p,.collection_txt > p,.products_txt > p {
    font-size: 16px;
    padding: 4px;
    
  }
  .news_txt, .addresses_txt,.collection_txt{
    height: 30px;
    margin-top: 40px;
  }
  .products_txt{
    height: 30px;
  }
  .news_all{
    margin-top: 0px;
  }
  .new_head{
    font-size: 16px;
  }
  .new_main,.new_next{
    font-size: 14px;
  }
  .time{
    display: none;
  }
  table{
    font-size: 16px;
  }
  /* карточки товаров */
  .products_cards {
    align-items: center;
    margin-left: 0%;
    display: grid;
    
    justify-items: center;
  }
  
  .card>p {
    margin-top: 5%;
    font-size: 14px;
  }
  .card_img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    width: 200px;
    height: 220px;
    object-fit: cover;
    /* object-fit: cover; */
    /* width: 100%; */
    /* max-width: 250px; */
    /* height: 100%;
    max-height: 250.86px;
    border-radius: 4px 4px 0px 0px; */
  }
  .map{
    display: none;
  }
  /* картинки показов */
  .img_a {
    display: none;
  }
  .map {
    display: none;
  }
  .address {
    display: block;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    align-self: center;
    /* margin-left: 5%; */
  }

  .addresses {
    align-self: center;
    width: 100%;
    /* min-width: 600px; */
    height: auto;
    font-size: 16px;
  }
  .block_news{
    height: max-content;
    /* max-height: 450px; */
  }
  .collections_btn {
    background-color: #191616;
    border: #191616 1px solid;
    color: #fefefe;
    font-family: "Wremena-norm";
    font-size: 16px;
    width: 100%;
    max-width: 350px;
    height: 40px;
    margin-top: 30px;
    transition: 0.4s;
  }
  
}
