@font-face {
    font-family: "Lora-norm";
    src: url(/fonts/Lora/Lora-Regular.ttf);
  }
  @font-face {
    font-family: "Wremena-bold";
    src: url(/fonts/Lora/Lora-SemiBold.ttf);
  }
  body {
    margin: 0;
  }
  /* Редактор прокрутки списка адресов */
  body::-webkit-scrollbar {
    width: 15px;
    background-color: #f9f9fd;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #877cb9;
  }
  body::-webkit-scrollbar-track {
    background-color: #f9f9fd;
  }

.cont {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* навигация*/
.nav {
  background-color: #191616;
  min-height: 657px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
}
hr{
    color: #fefefe;
}
.nav-link.active {
  color: #877cb9;
  border-color: #191616;
}
.nav-link {
  font-size: 25px;
  display: block;
  color: #191616;
  font-family: "Lora-norm";
  border-radius: 0px;
  color: #fefefe;

  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
.nav-link:focus, .nav-link:hover {
  color: #877cb9;
}

/* Блоки*/
.blocks {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.block {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: #7e7e7e 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_block {
  display: flex;
  justify-content: space-between;
}
.block_info{
    font-family: "Wremena-bold";
}
.count{
    font-size: 30px;
}
.order {
  background-color: #877cb9;
}
.products {
  background-color: #73ba9c;
}
.collections {
  background-color: #757ed0;
}
.fashion_shows {
  background-color: #9a75b4;
}
.icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  opacity: 0.4;
}

.block_btn{
    font-family: "Wremena-bold";
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.228);
    border: none;
    color: #191616;
}
.block_btn:hover{
    color: #fefefe;
}

