/* Таблица*/
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.block {
  padding: 10px;
  font-family: "Wremena-bold";
}
.table {
  border: #9d9d9d 1px solid;
  font-family: "Wremena-bold";
  color: #191616;
  font-size: 18px;
}
.table-title {
  background-color: #9a75b4;
  font-family: "Lora-bold";
}
th,
td {
  border: #4e4e4e 1px solid;
}
th {
  font-size: 18px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.btn {
  padding: 4px;
}
.btn-success {
  background-color: #82b97c;
  color: #191616;
  font-family: "Wremena-bold";
}
.btn-danger {
  background-color: #b97c7c;
}
.shows_pics {
  width: 560px;
}
.shows_pic {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-left: 5px;
}

.desc{
  width: 200px;
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  text-overflow: ellipsis; /* Многоточие */
}
.desc:hover{
  transition: 1s;
  white-space:normal;
}
.shows{
  display: grid;
}
.photos{
  display: grid;
  grid-template-columns: repeat(4, 110px);
}
.del_photo{
  object-fit: cover;
  padding: 5px;
  width: 100px;
  height: 100px;
}
.shows> .btn-group{
  display: grid;
}
/* Модальное окно добавление */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}

.modal_main {
  position: relative;
  max-width: 800px;
  height: 320px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}
.add_product {
  display: grid;
  grid-template-areas:
    "a a"
    "b b"
    "c c"
    "d d";
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  margin-top: 10px;
}
span {
  font-family: "Wremena-bold";
}
.modal__close {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close:hover {
  color: #877cb9;
}
.modal__title {
  font-size: 25px;
  margin-top: 0px;
  font-family: "Wremena-bold";
  display: flex;
}
/*Модальное изменение*/
.modal-wrapper_show_change {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}
.modal_main_show_change {
  position: relative;
  max-width: 800px;
  min-height: 420px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}
.show_change {
  display: grid;
  grid-template-areas:
    "a "
    "b "
    "c "
    "d "
    " e";
}
.item_1 {
  grid-area: a;
}
.item_2 {
  grid-area: b;
}
.item_3 {
  grid-area: c;
}
.item_4 {
  grid-area: d;
}
.item_5 {
  margin-top: 10px;
  grid-area: e;
}
/*Модальное окно удаление*/
.modal-wrapper_del_show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}
.modal__close_del_show{
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close_del_show:hover {
  color: #877cb9;
}
.modal_main_del_show {
  position: relative;
  max-width: 550px;
  min-height: 220px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}

.dropdown-menu {
  padding: 10px;
}
.shows_pics {
  display: grid;
  grid-template-columns: repeat(5, 110px);
}
.info {
  display: flex;
}
.shows_pic {
  object-fit: cover;
  padding: 5px;
  width: 100px;
  height: 100px;
}
.btn-outline-danger {
  font-family: "Wremena-bold";
}
