/* Блоки*/
.blocks {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.block {
  width: 250px;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: #7e7e7e 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_block {
  display: flex;
  justify-content: space-between;
}
.block_info{
    font-family: "Wremena-bold";
}
.count{
    font-size: 30px;
}
.order {
  background-color: #877cb9;
}
.products {
  background-color: #73ba9c;
}
.collections {
  background-color: #757ed0;
}
.fashion_shows {
  background-color: #9a75b4;
}
.icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
  opacity: 0.4;
}

.block_btn{
    font-family: "Wremena-bold";
    padding: 5px;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.228);
    border: none;
    color: #191616;
}
.block_btn:hover{
    color: #fefefe;
}

