/**/
h3{
    padding: 10px;
    font-family: "Wremena-bold";
    background-color: #877cb9;
}
.profile_form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Wremena-bold";
    color: #191616;
    
  }
  .form_inp {
    display: flex;
    gap: 10px;
  }
  label {
    font-size: 20px;
  }
  #change_profile,
  #exit {
    font-family: "Lora-norm";
    font-size: 18px;
    color: #191616;
    border: none;
    margin-left: 10px;
  }
  #exit:hover,
  #change_profile:hover {
    background-color: #877cb9;
    color: #fefefe;
  }

  #data-tab-pane{
    border: #9d9d9d 1px solid;
    padding: 10px;
  }