.helps {
  padding: 10px;
  font-family: "Wremena-bold";
}
Таблица
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.block {
  padding: 10px;
  font-family: "Wremena-bold";
}
.table {
  border: #b5b5b5 1px solid;
  font-family: "Wremena-bold";
  color: #191616;
  font-size: 18px;
}
.table-title {
  background-color: #d07575;
  font-family: "Lora-bold";
}
th,
td {
  border: #b5b5b5 1px solid;
}
th {
  border: #b5b5b5 1px solid;
  font-size: 18px;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: #b5b5b5;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.btn {
  padding: 4px;
}
.btn-success {
  background-color: #82b97c;
  color: #191616;
  font-family: "Wremena-bold";
}
.btn-danger {
  background-color: #b97c7c;
}
.collection_pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
h3 {
  display: flex;
}
.article_photo {
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.error {
  color: crimson;
}
.good {
  color: forestgreen;
}
#art_photo{
  width: 150px;height: 150px;
  object-fit: contain;
  display: block;
}

/* Модальное окно добавление товара*/
.add_product {
  height: 430px;
  display: grid;
  grid-template-areas:
    "a a"
    "b b"
    "c c";
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item8 {
  margin-top: 20px;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}

.modal_main {
  position: relative;
  max-width: 800px;
  min-height: 520px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}
.modal__close {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close:hover {
  color: #877cb9;
}
.modal__title {
  font-size: 25px;
  margin-top: 0px;
  font-family: "Wremena-bold";
  display: flex;
}
.add_article {
  display: grid;
}

/*Модальное окно удаление товара*/
.modal-wrapper_del_products {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}

.modal_main_del_products {
  position: relative;
  max-width: 500px;
  min-height: 220px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}
.modal__close_del_products {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close_del_products:hover {
  color: #877cb9;
}
.prod_pic {
  object-fit: cover;
  padding: 5px;
  width: 100px;
  height: 100px;
}
.dropdown-menu {
  padding: 10px;
}
.btn-outline-danger {
  font-family: "Wremena-bold";
}
#info_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/* Модальное окно изменение товара */
.modal-wrapper_change_product {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}
.modal_main_change_product {
  position: relative;
  max-width: 800px;
  min-height: 500px;
  padding: 20px;
  background-color: #fefefe;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}
span {
  font-family: "Wremena-bold";
}
.item_8 > .btn {
  margin-top: 10px;
}
.change_product_pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.modal__close_change_product {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close_change_product:hover {
  color: #877cb9;
}
