/**/
.block{
  padding: 0px;
}
.block > h3 {
  padding: 10px;
  font-family: "Wremena-bold";
  background-color: #877cb9;
}
.profile_form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Wremena-bold";
  color: #191616;
}
.form_inp {
  display: flex;
  gap: 10px;
}
label {
  font-size: 20px;
}
#change_profile,
#exit {
  font-family: "Lora-norm";
  font-size: 18px;
  color: #191616;
  border: none;
  width: max-content;
}
#exit:hover,
#change_profile:hover {
  background-color: #877cb9;
  color: #fefefe;
}
.btn-success{
  margin-left: 10px;
  padding: 3px;
  font-size: 18px;
}

/*  */
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.61);
}

.modal_main {
  position: relative;
  max-width: 500px;
  min-height: 520px;
  padding: 30px;
  background-color: #fefefe;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora-norm";
}
.modal__close {
  position: absolute;
  top: 0px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
}
.modal__close:hover {
  color: #877cb9;
}
.modal__title {
  font-size: 25px;
  margin-top: 0px;
  font-family: "Wremena-bold";
  display: flex;
}
.adding {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
  width: 450px;
  margin-top: 30px;
}
.adding > input,
.inputs_pas > input {
  font-size: 20px;
  font-family: "Wremena-norm";
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 3px;
}

label {
  font-size: 18px;
  font-family: "Lora-bold";
}
label > span {
  color: crimson;
}
.inputs_pas {
  display: grid;
}
.btn_reg {
  background-color: #191616;
  border: #191616 1px solid;
  color: #fefefe;
  font-family: "Wremena-norm";
  font-size: 23px;
  margin-top: 10px;
}
.btn_reg:hover {
  cursor: pointer;
  background-color: #050404;
}
