@font-face {
    font-family: "Lora-norm";
    src: url(/fonts/Lora/Lora-Regular.ttf);
  }
  @font-face {
    font-family: "Wremena-bold";
    src: url(/fonts/Lora/Lora-SemiBold.ttf);
  }
  body {
    margin: 0;
  }
  /* Редактор прокрутки списка адресов */
  body::-webkit-scrollbar {
    width: 15px;
    background-color: #f9f9fd;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #877cb9;
  }
  body::-webkit-scrollbar-track {
    background-color: #f9f9fd;
  }

.cont {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* навигация*/
.navA {
  background-color: #191616;
  min-height: 657px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 15px;
  margin-bottom: 0px;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
}
hr{
    color: #fefefe;
}
.navA-link.active {
  color: #877cb9;
  border-color: #191616;
}
.navA-link {
  font-size: 25px;
  display: block;
  color: #191616;
  font-family: "Lora-norm";
  border-radius: 0px;
  color: #fefefe;

  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
.navA-link:focus, .navA-link:hover {
  color: #877cb9;
}