@font-face {
  font-family: "Wremena-norm";
  src: url(/assets/fonts/Wremena/Wremena.ttf);
}
@font-face {
  font-family: "Lora-bold";
  src: url(/assets/fonts/Lora/Lora-SemiBold.ttf);
}
body {
  margin: 0;
}
/* Редактор прокрутки списка адресов */
body::-webkit-scrollbar {
  width: 15px;
  background-color: #f9f9fd;
}
body::-webkit-scrollbar-thumb {
  background-color: #877cb9;
}
body::-webkit-scrollbar-track {
  background-color: #f9f9fd;
}

.cont {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* навигация*/
.navA {
  background-color: #191616;
  min-height: 657px;
  width: 265px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 15px;
  margin-bottom: 0px;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
}
hr {
  color: #fefefe;
}
.navA-link.active {
  color: #877cb9;
  border-color: #191616;
}
.navA-link {
  font-size: 25px;
  display: block;
  color: #191616;
  font-family: "Lora-norm";
  border-radius: 0px;
  color: #fefefe;

  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
.navA-link:focus,
.navA-link:hover {
  color: #877cb9;
}
/* Таблица*/
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.block {
  /* padding: 10px; */
  font-family: "Wremena-bold";
}
.table {
  border: #b5b5b5 1px solid;
  font-family: "Wremena-bold";
  color: #191616;
  font-size: 18px;
}
.table-title {
  background-color: #877cb9;
  font-family: "Lora-bold";
}
th,
td {
  border: #b5b5b5 1px solid;
}
th {
  border: #b5b5b5 1px solid;
  font-size: 18px;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: #b5b5b5;
}

.icon {
  /* width: 25px;
  height: 25px; */
  object-fit: cover;
}
.btn {
  padding: 4px;
}
.btn-success {
  background-color: #7ac272;
  color: #191616;
  font-family: "Wremena-bold";
  padding: 6px;
  border: none;
}
.btn-success >img,.btn-danger >img{
  opacity: 0.7;
  width: 20px;
  height: 20px;
  
}
.btn-danger {
  background-color: #d87878;
  padding: 6px;
  border: none;
}
h3 {
  display: flex;
}
.error {
  color: crimson;
  font-size: 17px;
}
.good {
  color: forestgreen;
  font-size: 17px;
}
